= simple_form_for @football_association do |fa|
  = fa.simple_fields_for :clubs do |c|
    = c.input :name
    = c.button :submit

/ <%= form_with(model: club, local: true) do |form| %>
/   <% if club.errors.any? %>
/     <div id="error_explanation">
/       <h2><%= pluralize(club.errors.count, "error") %> prohibited this club from being saved:</h2>

/       <ul>
/       <% club.errors.full_messages.each do |message| %>
/         <li><%= message %></li>
/       <% end %>
/       </ul>
/     </div>
/   <% end %>

/   <div class="actions">
/     <%= form.submit %>
/   </div>
/ <% end %>
